include mixins.pug

div.accordion(id="accordion")
  //- Cadre de travail
  +accordion-item("collapseThree", "accordion", "Cadre de travail", false)

    //- project's responsible
    +select-field("Responsable scientifique du projet", "responsible", users, project.responsible)

  //- Présentation du projet scientifique
  +accordion-item("collapseOne", "accordion", "Présentation du projet scientifique", true)
    //- input field
    +input-field("Nom du project", "title", project.title)

    //- summary
    +textarea-field("Résumé publiable du projet (10 lignes max.)", "summary", "10", project.summary)

    //- keywords
    +input-field("Champs thématiques adressés (séparés par des virgules)", "keywords", project.keywords)

    //- types
    +select-field("Type", "type", types, project.type)

    //- description
    +textarea-field("Argumentaire scientifique qui décrit le projet  et les résultats attendus (20 lignes max.)", "description", "20", project.description)

  //- Description du besoin en ingénierie
  +accordion-item("collapseTwo", "accordion", "Description du besoin en ingénierie", true)
    div(class="row mb-3")
      div(class="col-12")
        span(class="fw-semibold") Évaluez le temps ingénieur  dont vous avez besoin pour votre projet:

    fieldset(class="row mb-3")
      //- frequency
      legend.col-form-label(class="col-sm-2 pt-0 fw-medium") Frequence
      div(class="col-sm-4")
        +radio-item("two_days", "frequency", "2 jour/semaine", "2", project.engineer.frequency)

      //- duration
      legend.col-form-label(class="col-sm-2 pt-0 fw-medium") Durée
      div(class="col-sm-4")
        +radio-item("two_months", "duration", "2 mois", "2", project.engineer.duration)
        +radio-item("four_months", "duration", "4 mois", "4", project.engineer.duration)
        +radio-item("six_months", "duration", "6 mois", "6", project.engineer.duration)

    //- tasks
    +textarea-field("Décrivez les activités qui seront confiées à·aux ingénieur·e·s (si possible, avec un planning de tâches attendues)", "tasks", "10", project.engineer.tasks)

  //- Comments
  +accordion-item("collapseFour", "accordion", "Commentaires", true)
    textarea.form-control(id="comments", rows="5")= project.comments
