extends ../layout

block content
  div(class="d-flex flex-row mb-3 align-items-center mb-5")
    div: h1(class="pe-2") Projets
    div: a(class="btn btn-success" href='/lipn/add' role="button") Ajouter


  div: h4(class="pb-2") Backlog
  table(class="table table-hover align-middle")
    thead(class="table-light")
      tr
        th(scope="col") #
        th(scope="col") Titre
        th(scope="col") Résumé
        th(scope="col") Type
        th(scope="col") Frequence
        th(scope="col") Durée
        th(scope="col") Responsable
        th(scope="col") Status
        th(scope="col" class="text-center") Actions
    tbody(class="table-group-divider")
      each project, index in projects
        tr
          th(scope="row")=index+1
          td=project.title
          td=project.summary
          td
            span.badge(class="text-bg-dark")=project.type
          td=project.engineer.frequency+" jours/semaine"
          td=project.engineer.duration+" mois"
          td=project.responsible
          td
            span.badge(class="text-bg-dark")=project.management.status
          td
            div(class="d-flex justify-content-center flex-row")
              - var noAccepted = project.management.status == "backlog"
              if noAccepted
                a(class="btn btn-outline btn-sm btn-primary m-1" href=`/lipn/edit/${project._id}` role="button")
                  i(class="bi bi-pencil")
                form(method="POST" action=`/lipn/delete/${project._id}`)
                  button(type="submit" class="btn btn-outline btn-sm btn-danger m-1")
                    i(class="bi bi-trash")
                form(method="POST" action=`/lipn/accept/${project._id}`)
                  button(type="submit" class="btn btn-outline btn-sm btn-success m-1")
                    i(class="bi bi-check-circle")


  hr(class="mt-5 mb-5")


  div: h4(class="pb-2") Acceptés
  table(class="table table-hover align-middle")
    thead(class="table-light")
      tr
        th(scope="col") #
        th(scope="col") Titre
        th(scope="col") Responsable
        th(scope="col") Accepted
        th(scope="col") Started
        th(scope="col") End (Approx.)
        th(scope="col") Status
        th(scope="col" class="text-center") Actions
    tbody(class="table-group-divider")
      each project, index in acceptedProjects
        tr
          th(scope="row")=index+1
          td=project.title
          td=project.responsible
          td= dayjs(project.management.accepted_at).format('DD-MM-YYYY')
          td
            if project.management.started_at
              span=dayjs(project.management.started_at).format('DD-MM-YYYY')
          td
            if project.management.started_at
              span=dayjs(project.management.started_at).add(project.engineer.duration, 'month').format('DD-MM-YYYY')
          td
            - var doing = project.management.status == "doing"
            span.badge(class=(doing ? "bg-success": "bg-info text-dark"))=project.management.status
          td
            div(class="d-flex justify-content-center flex-row")
              - var todo = project.management.status == "todo"
              if todo
                form(method="POST" action=`/lipn/start/${project._id}`)
                  button(type="submit" class="btn btn-outline btn-sm btn-success m-1")
                    i(class="bi bi-play-circle")
              else
                form(method="POST" action=`/lipn/close/${project._id}`)
                  button(type="submit" class="btn btn-outline btn-sm btn-danger m-1")
                    i(class="bi bi-stop-circle")
