extends layout

block content
  div(class="p-5 mb-4 bg-light rounded-3")
    .container-fluid(class="py-5")
      h1(class="display-5 fw-bold") Bienvenue
      p(class="col-md-8 fs-4") Application de gestion des projets
      a.btn(class="btn-primary btn-lg" href="/projects" role="button") Voir les projets