doctype html
html(lang="en", class="h-100")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // stylesheets
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css")

    title Projets
  body(class="d-flex flex-column h-100")
    header
      // Fixed navbar
      nav.navbar(class="navbar-expand-lg navbar-dark fixed-top bg-dark")
        .container-fluid
          a.navbar-brand(href="/") Projets-App

          button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

          div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            .navbar-nav
              a.nav-link(href="/projects") Projets
              //- a.nav-link(href="/lipn") LIPN

    // Page content
    main(class="flex-grow-1 mt-5")
      .container(class="pt-5")
        block content

    // Footer
    footer.footer(class="mt-auto py-3 bg-light text-center")
      .container
        span.text-muted &copy; 2023

    // scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")
    script(src="/js/index.js" type="module")