extends ../layout

//- ----------------------------------------------------------------------------
//- FORM
//- ----------------------------------------------------------------------------
block content
  h1(class="mb-5") Editer un projet

  form(class="row g-3 needs-validation" id="editProjectForm" action=`/projects/edit/${project._id}` method="POST" novalidate)
    //- include form
    include form.pug

    //- submit button
    div(class="col-12 d-grid")
      button(type="submit" class="btn btn-primary") Mettre à jour