include mixins.pug

div.accordion(id="accordion")
  //- Cadre de travail
  +accordion-item("collapseThree", "accordion", "Cadre de travail", false)
    //- laboratories
    +select-field("Unité de recherche rattachée au CNRS", "laboratory", laboratories, project.laboratory)

    //- Information from the person responsible
    div.row(class="g-2")
      div(class="col-sm-4")
        span(class="fw-medium") Information du ou de la responsable scientifique du projet :
      div.col
        +floating-input("Prénom", "firstname", "First name", project.responsible.firstname)
      div.col
        +floating-input("Nom", "lastname", "Last name", project.responsible.lastname)
      div.col
        +floating-input("E-mail", "email", "Email", project.responsible.email)

  //- Présentation du projet scientifique
  +accordion-item("collapseOne", "accordion", "Présentation du projet scientifique", true)
    //- input field
    +input-field("Nom du project", "title", project.title)

    //- summary
    +textarea-field("Résumé publiable du projet (10 lignes max.)", "summary", "10", project.summary)

    //- keywords
    +input-field("Champs thématiques adressés (séparés par des virgules)", "keywords", project.keywords)

    //- types
    +select-field("Type", "type", types, project.type)

    //-  expectations
    +textarea-field("Décrivez les innovations attendues à l'issue du projet (5 lignes max.)", "expectations", "5", project.expectations)

    //- description
    +textarea-field("Argumentaire scientifique qui décrit le projet, l'état de l'art, les travaux antérieurs et les résultats attendus (20 lignes max.)", "description", "20", project.description)

  //- Description du besoin en ingénierie
  +accordion-item("collapseTwo", "accordion", "Description du besoin en ingénierie", true)
    div(class="row mb-3")
      div(class="col-12")
        span(class="fw-semibold") Évaluez le temps ingénieur  dont vous avez besoin pour votre projet:

    fieldset(class="row mb-3")
      //- frequency
      legend.col-form-label(class="col-sm-2 pt-0 fw-medium") Frequence
      div(class="col-sm-4")
        +radio-item("two_days", "frequency", "2 jour/semaine", "2", project.engineer.frequency)
        +radio-item("three_days", "frequency", "3 jour/semaine", "3", project.engineer.frequency)

      //- duration
      legend.col-form-label(class="col-sm-2 pt-0 fw-medium") Durée
      div(class="col-sm-2")
        +radio-item("one_month", "duration", "1 mois", "1", project.engineer.duration)
        +radio-item("two_months", "duration", "2 mois", "2", project.engineer.duration)
        +radio-item("three_months", "duration", "3 mois", "3", project.engineer.duration)

      div(class="col-sm-2")
        +radio-item("four_months", "duration", "4 mois", "4", project.engineer.duration)
        +radio-item("five_months", "duration", "5 mois", "5", project.engineer.duration)
        +radio-item("six_months", "duration", "6 mois", "6", project.engineer.duration)

    +textarea-field("Quelles sont les compétences spécifiques d'ingénierie attendues ; notamment, langages ou frameworks qui seront utilisés dans le projet, outils existants, connaissances requises ?", "skills", "10", project.engineer.skills)

    +textarea-field("Décrivez les activités qui seront confiées à·aux ingénieur·e·s (si possible, avec un planning de tâches attendues)", "tasks", "10", project.engineer.tasks)

  //- Comments
  +accordion-item("collapseFour", "accordion", "Commentaires", true)
    textarea.form-control(id="comments", rows="5")= project.comments
