extends ../layout

block content
  div(class="d-flex flex-row mb-3 align-items-center mb-5")
    div: h1(class="pe-2") Projets
    div: a(class="btn btn-success" href='/projects/add' role="button") Ajouter

  table(class="table table-hover align-middle table-striped")
    thead(class="table-light")
      tr(class="d-flex")
        th(scope="col") #
        th(scope="col" class="col-2 text-center") Titre
        th(scope="col" class="col-3 text-center") Résumé
        th(scope="col" class="col-2 text-center") Type
        th(scope="col" class="col-1 text-center") Frequence
        th(scope="col" class="col-1 text-center") Durée
        th(scope="col" class="col-1 text-center") Laboratoire
        th(scope="col" class="text-center col-2 text-center") Actions
    tbody(class="table-group-divider")
      each project, index in projects
        - var noClosed = project.status != "closed"
        - var doing = project.status == "doing"
        if noClosed
          tr(class="d-flex" class=doing ? "table-success" : "")
            th(scope="row")=index+1
            td(class="col-2")=project.title
            td(class="col-3")
              p(style={"text-align": "justify"})=project.summary
            td(class="col-2 text-center")
              span.badge(class="text-bg-dark text-wrap")=project.type
            td(class="col-1 text-center")=project.engineer.frequency+" jours/semaine"
            td(class="col-1 text-center")=project.engineer.duration+" mois"
            td(class="col-1 text-center")=project.laboratory
            td(class="col-2")
              div(class="d-flex justify-content-center flex-row")
                form(method="POST" action=`/projects/download/${project._id}`)
                  button(type="submit" class="btn btn-outline btn-sm btn-secondary m-1")
                    i(class="bi bi-download")
                a(class="btn btn-outline btn-sm btn-primary m-1" href=`/projects/edit/${project._id}` role="button")
                  i(class="bi bi-pencil")
                form(method="POST" action=`/projects/delete/${project._id}`)
                  button(type="submit" class="btn btn-outline btn-sm btn-danger m-1")
                    i(class="bi bi-trash")
                if doing
                  form(method="POST" action=`/projects/close/${project._id}`)
                    button(type="submit" class="btn btn-outline btn-sm btn-danger m-1")
                      i(class="bi bi-sign-stop")
                else
                  form(method="POST" action=`/projects/start/${project._id}`)
                    button(type="submit" class="btn btn-outline btn-sm btn-success m-1")
                      i(class="bi bi-play")


  hr(class="mt-5 mb-5")

  div: h4(class="pb-2") Terminés
  table(class="table table-hover align-middle table-striped")
    thead(class="table-light")
      tr(class="d-flex")
        th(scope="col") #
        th(scope="col" class="col-2 text-center") Titre
        th(scope="col" class="col-3 text-center") Résumé
        th(scope="col" class="col-2 text-center") Type
        th(scope="col" class="col-1 text-center") Frequence
        th(scope="col" class="col-1 text-center") Durée
        th(scope="col" class="col-1 text-center") Laboratoire
        th(scope="col" class="text-center col-2 text-center") Actions
    tbody(class="table-group-divider")
      each project, index in projects
        - var archived = project.status == "closed"
        if archived
          tr(class="d-flex")
            th(scope="row")=index+1
            td(class="col-2")=project.title
            td(class="col-3")
              p(style={"text-align": "justify"})=project.summary
            td(class="col-2 text-center")
              span.badge(class="text-bg-dark text-wrap")=project.type
            td(class="col-1 text-center")=project.engineer.frequency+" jours/semaine"
            td(class="col-1 text-center")=project.engineer.duration+" mois"
            td(class="col-1 text-center")=project.laboratory
            td(class="col-2")
              div(class="d-flex justify-content-center flex-row")
                form(method="POST" action=`/projects/download/${project._id}`)
                  button(type="submit" class="btn btn-outline btn-sm btn-secondary m-1")
                    i(class="bi bi-download")