//- ----------------------------------------------------------------------------
//- MIXINS
//- ----------------------------------------------------------------------------
mixin input-field(label_, id_, value_="", type_="text", required_=true)
  div.row(class="mb-3")
    label.col-form-label(for=id_ class="fw-medium col-sm-4")= label_
    div(class="col-sm-8")
      input.form-control(type=type_ id=id_ name=id_ class="field" required=required_ value=value_)

mixin textarea-field(label_, id_, rows_, value_="", required_=true)
  div.row(class="mb-3")
    label.col-form-label(for=id_ class="fw-medium col-sm-4")= label_
    div(class="col-sm-8")
      textarea.form-control(id=id_ name=id_ rows=rows_ required=required_)= value_

mixin select-field(label_, id_, values, selected_)
  div.row(class="mb-3")
    label.col-form-label(for=id_ class="fw-medium col-sm-4")=  label_
    div(class="col-sm-8")
      select.form-select(id=id_ name=id_ class="field")
        each v_, index in values
          option(value=v_ selected=(v_ == selected_))= v_

mixin radio-item(id_, group_, label_, value_, checked_)
  div.form-check
    input.form-check-input(type="radio" name=group_ id=id_ value=value_ checked=(value_ == ""+checked_))
    label.form-check-label(for=id_)= label_

mixin floating-input(label_, id_, placeholder_, value_="", type_="text", required_=true)
  div.form-floating
    input.form-control(type=type_ id=id_ name=id_ placeholder=placeholder_ required=required_ value=value_)
    label(for=id_)= label_

mixin accordion-item(id_, parent_, label_, collapsed)
  div.accordion-item
    h2.accordion-header
      button.accordion-button(type="button" class="fw-bold" class=(collapsed ? 'collapsed' : "" ) data-bs-toggle="collapse" data-bs-target="#"+id_ aria-expanded=""+!collapsed aria-controls=id_)= label_
    div.accordion-collapse(id=id_ class="collapse" class=(collapsed ? '' : 'show' ) data-bs-parent="#"+parent_)
      div.accordion-body
        block
